<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form method="post">
            <label for="username-login"> Your login </label>
            <p><input id="username-login" type="text" name="username" size="30"
                      required  placeholder="Enter username"></p>
            <label for="password-login"> Your password </label>
            <p><input id="password-login" type="password" name="password" required
                      placeholder="Enter your password here">
            </p>
            <p><input type=submit value="Log in"></p>
        </form>

</body>
</html>